[2017-08-20 14:56] ahus1 opened #1 "Offline-capabilities for API-calls"
Information retrieved from the backend should be cached.

[2017-08-20 19:33] ahus1 commented on #1
@sippsack @ascheman @steffchep - this now ready for a first review. I've moved it to the tab "To Review" in the project view.

[2017-08-20 21:42] sippsack commented on #1
Looks good for me.

But how about conditional loading with etag? How can we integrate "if-none-match" header?

[2017-08-21 05:53] ahus1 commented on #1
@sippsack - I suppose we will just rely on the browser to cache the response. The browser already re-sends the etag automatically. But the server (i.e. https://latest.dukecon.org/javaland/2017/rest/conferences/javaland2017/) doesn't respond with 304 at the moment; you can check this if you manually load the link.

This seems to be a bug in the server. I'll open a ticket for that.

[2017-08-21 11:02] ahus1 commented on #1
@sippsack - regarding your comment in the other ticket, will you review this ticket and approve it? If not, please comment.

[2017-08-21 11:40] sippsack commented on #1
it is fine for me.

@ascheman, @steffchep : Please also have a look because of knowledge transfer.

[2017-08-21 20:53] sippsack commented on #1
@ahus1: the caching with etag seems to work when requesting a localhost rest backend:

![image](https://user-images.githubusercontent.com/413426/29537725-0e6cbd76-86c3-11e7-85df-c42a6957bec7.png)
![image](https://user-images.githubusercontent.com/413426/29537762-3cb2e7dc-86c3-11e7-9f1c-b8026211bcce.png)

But init.json still return 200, because no "If-None-Match" header was sent:

![image](https://

[2017-08-22 10:14] ahus1 opened #2 "Allow login via Keycloak"
A user should be able to login via Keycloak

[2017-08-22 10:15] ahus1 commented on #2
Keycloak needs to be initialized first, as it will use URL redirects that would other wise interfere with the Vue.js router.
The Keycloak client library is wrapped in DuekconKeycloak.js as a singleton for the project.

[2017-08-22 10:16] ahus1 commented on #2
@sippsack @ascheman @steffchep - ready for review!

[2017-08-22 20:14] #1 closed, assigned to nobody

[2017-08-23 21:28] sippsack opened #3 "Component footer with links"

[2017-08-24 07:45] sippsack commented on #3
@ahus1, @steffchep, @ascheman: please take a look at my first attempt, git commit https://github.com/dukecon/dukecon_pwa/commit/074c1832bfa928d1a3025da8c1f9671875b20da7 (I've forgotten to mention the ticket number)

[2017-08-24 13:23] ahus1 commented on #3
@sippsack - ich würde es erst nach dem Review schließen wollen.

Was mir auffällt: der Code wird nur funktionieren, wenn die init-Daten vor dem Footer geladen werden. Wenn Du den Vue-Update-Mechanismus verwenden willst, so gibst Du eine Datenstruktur zurück, die zunächst nur Dummy-Werte enthält und im nachhinein gefüllt wird. Beispiel ist die _events_ struktur, die 1:1 nach außen gegeben wird uns

[2017-08-24 22:39] sippsack commented on #3
@ahus1: weiß noch nicht genau, wo ich das machen muss? In der Conference.js?

Die Links.vue sieht sehr ähnlich zu Schedule.vue aus. In Conference.js setzen wir mit Vue.set die einzelnen Events in ein neues Objekt/Map, welches am Anfang leer initialisiert wurde (const events = {})

[2017-08-27 13:28] ahus1 commented on #3
Wir arbeiten an dieser Stelle mit einem globalen Model. Das hat den Vorteil dass Vue Änderungen an den Daten mitbekommt.

Conference gibt die Events Struktur nach außen. Diese Struktur kann am Anfang leer sein (wird ja asynchron geladen). Dank Vue und View Binding wird die Anzeige aktualisiert sobald sind Events geladen sind.

Bei den Links bist du anders vorgegangen: statt das Model nach draußen

[2017-08-30 12:01] sippsack commented on #3
@ahus1: cool, danke für die Erklärung und die Anpassungen. Eine Frage noch: Warum rufst Du hasOwnProperties auf?

    for (const key in response.data) {
      if (response.data.hasOwnProperty(key)) {
        Vue.set(conference, key, response.data[key])
      }
    }

Wenn ich es richtig verstehe, liefert hasOwnProperty true zurück, wenn das Property in dem Objekt direkt drin ist und nicht über die

[2017-08-30 21:09] ahus1 commented on #3
Naja, war ein Codebeispiel irgendwo aus dem Internet um Objekte zu mergen. Die data an dieser Stelle ist wahrscheinlich so einfach, dass es auch ohne gehen könnte. Aber man weiß ja nicht was die verschiedenen JavaScript-Bibliotheken für einen Unfug machen ...

[2017-09-17 07:41] ahus1 opened #4 "Add Language Switch"
There should be a language switch in the header like for the old conference. Once it is clicked, all texts in the application should switch (including the links in the footer)

[2017-09-17 07:55] ahus1 commented on #4
@sippsack @ascheman @steffchep
I've added a language switch. Also some more unit tests and related documentation. Ready for review.

[2017-09-22 08:21] ahus1 opened #5 "Add Image Resource"
In order to service icons and the conference logo we need to load the images via the existing REST API.

[2017-09-22 08:32] ahus1 commented on #5
When implementing this feature, I also added functionality to test offline (i.e. while riding on trains).

This is now ready for review - cc: @sippsack @ascheman @steffchep

[2017-09-22 08:55] ahus1 commented on #3
@sippsack - nun haben wir beide draufgeschaut; daher schiebe ich dieses Ticket nun auf Done.

[2017-09-22 08:55] #3 closed, assigned to nobody

[2017-09-29 19:13] ahus1 opened #6 "Add less styles from old app"
Add the less styling to make the new app look like the old app

[2017-09-29 19:20] ahus1 commented on #6
@sippsack @steffchep @ascheman - added styles from the old application. This helps to add functionality step-by-step. Still, I try to make the Vue components as small as possible to make it easy to refactor them later.

[2017-09-29 21:50] ahus1 opened #7 "Create talk details page with layout and subcomponents"
Add all parts to display event, speaker and location details. Setting favorites is out of scope.

[2017-10-02 09:19] ahus1 commented on #7
event and speaker details now implemented. Next step: add docs and tests

[2017-10-02 12:55] sippsack opened #8 "Add Talk Grid to Schedule"

[2017-10-02 13:53] ahus1 commented on #7
Added Tests, docs and refactorings. @sippsack @ascheman @sippsack - ready for review.

[2017-10-02 14:18] ahus1 opened #9 "Add menu item "Feedback""

[2017-10-02 14:19] ahus1 opened #10 "Add Menu item Speakers"

[2017-10-03 14:07] ahus1 commented on #8
@sippsack I see you implemented this as part of Conference.js - this might only be needed by the component creating the overview, therefore you can place it in the javascript block of the component (probably as a computed element). But let's wait and see what the component will look like.

[2017-10-03 16:42] ahus1 commented on #10
new menu item speakers, including saving scroll positions and lazy-loading of images

@sippsack @ascheman @steffchep - ready for review

[2017-10-03 19:22] ahus1 commented on #9
add feedback page, link to conference and highlight for active menu item

@sippsack @ascheman @steffchep - ready for review

[2017-10-04 14:45] ahus1 opened #11 "Add favourite icon and make it clickable"

[2017-10-04 15:01] ahus1 commented on #11
Also implemented language to be saved in localstorage.
@sippsack @ascheman @steffchep - ready for review.

[2017-10-05 09:04] ahus1 opened #12 "Add filter to main schedule page"

[2017-10-05 20:18] ahus1 commented on #12
This is the first component in the project to use a custom event. It is used to notify the parent component if the menu is open. The parent will set a CSS class accordingly, this enabled the dynamic filter menu in mobile view.

@sippsack @ascheman @steffchep - this is now ready for review.

[2017-10-08 07:06] ahus1 commented on #12
@sippsack - there is now an event bus that publishes the current filter settings to everyone else. See updated docs for details.

[2017-10-11 21:01] ahus1 commented on #8
Done: first implementation of talk grid.

Todo: update docs, add test cases, check performance

optional/enhancement: use separate routes for each day

[2017-10-12 21:31] ahus1 commented on #8
Updated docs. Test case already part of Schedule test. Ready for review.

[2017-10-14 15:54] ahus1 opened #13 "Provide offline functionality for Keycloak login"
The keycloak tokens should be saved in the settings (local storage) like in the old application.

[2017-10-14 18:54] ahus1 commented on #13
Added documentation. Works when user is online or offline when the application starts. Offline token is saved in the local storage.

Functionality will be re-tested once the favorites are added.

[2017-10-15 08:14] sippsack opened #14 "Add search"
Add search functionality for events and speakers.

[2017-10-15 16:14] ahus1 commented on #14
@sippsack - pushed a change to fix the back button and responsive tool bar.

On the phone we discussed that the search should work in addition to the filters. I think we should first keep it "as is" with the existing functionality (and like you implemented it) -- any change in functionality should be part of a UX-design workshop.

[2017-10-15 19:57] ahus1 commented on #13
as we no longer use the iFrame as it conflicts with offline tokens, I also removed the jquery dependency that was used for dom ready

[2017-10-15 21:29] sippsack commented on #2
looks good for me

[2017-10-15 21:29] #2 closed, assigned to nobody

[2017-10-15 21:55] sippsack commented on #14
TODO:

* search box is always in header, not only for talks and speakers
* searching for talks should hide days without search results

[2017-10-16 12:08] ahus1 commented on #14
@sippsack - I tried out the current status of the search. These are my recorded experiences:

When the search leads to no result and I choose "reset", everything is reset, both filters and the search. The message (and the action) should only reset the search when the result is caused by a search (as we discussed in the current implementation the search has precedence over the filters)

When I clic

[2017-10-16 12:38] sippsack commented on #14
@ahus1: I understand your concerns and I wasn't aware, that we will realize the pwa app without changing anything. Then I have to rebuild the search functionality, search and filter has to be seperated. I also just figured out, that the filtering doesn't work at all at the moment because of the precedence of the search.

I did reset the search term on each navigation because the search term was st

[2017-10-16 20:57] ahus1 opened #15 "Save/Load favorites to and from the backend"
When logged in, the users favorites should be saved and loaded to/from the backend.

[2017-10-16 22:16] ahus1 commented on #15
The idea of syncing as implemented here:
  1. get current state from the server
  2. from the server's state remove and add the pending removals and additions (and set this as new client state)
  3. save to server
  4. from the pending removals and additions tick off the ones we memorized in step 2

See Favourites.js for the details.

[2017-10-16 22:16] ahus1 commented on #15
TODO: tests and docs. Mapping of /preferences URL on latest

[2017-10-17 18:13] ahus1 opened #17 "Use Favicon from specific conference"

[2017-10-17 23:33] sippsack commented on #14
@ahus1: ready for review, now it looks nearly the same as the old one

[2017-10-18 06:53] ahus1 commented on #17
Favicon now displayed - ready for review.

[2017-10-19 22:14] ahus1 commented on #14
@sippsack - review complete:
* this condition for the time cell used "this." as a prefix for variables. This didn't work reliably for me - you shouldn't prefix this.
* I compared the functionality of the old dukecon with the new dukecon: on the talks page the search works on all events, not only on the events of the current day. I suppose that was the reason why the days disappear together with th

[2017-10-19 22:24] #14 closed, assigned to nobody

[2017-10-20 12:29] ahus1 opened #18 "Use Conference specific CSS dynamically"

[2017-10-21 14:01] ahus1 opened #19 "AJAX Image in css has wrong path (404 in log)"

[2017-10-21 14:05] #7 closed, assigned to nobody

[2017-10-21 14:06] #6 closed, assigned to nobody

[2017-10-21 14:06] #8 closed, assigned to nobody

[2017-10-21 14:06] #10 closed, assigned to nobody

[2017-10-21 14:06] #9 closed, assigned to nobody

[2017-10-21 14:06] #11 closed, assigned to nobody

[2017-10-21 14:06] #12 closed, assigned to nobody

[2017-10-21 14:07] steffchep opened #20 "Show slides and additional documents for each talk"
There should be links to _Presentation_ (Presentation), _Manuscript_ (Manuskript) and _Andere_ (Other).

See https://github.com/dukecon/dukecon_html5/issues/116 und https://redmine.doag.org/issues/4402

[2017-10-21 14:09] ahus1 opened #21 "Show Timetable (vis.js)"

[2017-10-21 14:13] steffchep opened #22 "Backend-Errors should be handled in UI (4xx from REST-Calls)"
see https://github.com/dukecon/dukecon_html5/issues/113

[2017-10-21 16:46] ahus1 commented on #18
@steffchep @sippsack - this is now ready for review. As the CSS takes a while to load, the first "flash" of the app will be grey, but then it's JavaLand green.

[2017-10-21 16:48] ahus1 commented on #15
@steffchep @sippsack @ascheman - this is now available on latest and works with the new proxy mapping. Ready for review.

[2017-10-21 17:16] ahus1 commented on #19
fixed by patching the webpack configuration @steffchep - ready for review.

[2017-10-21 17:22] ahus1 opened #23 "Load fully-booked and favorites count by eventsBooking URL"
This URL is more efficient (fewer data) and contains the up-to-date counts of favorites.

[2017-10-22 13:56] ahus1 commented on #21
First working version pushed.
Working: showing events in timetable, favorites star on/off
Not working (yet): Header showing date in wrong locale, hiddenDates not working as expected
Pending: room changes and schedule changes not updated in timeline, docs, tests

[2017-10-23 06:18] ahus1 commented on #21
Working: room changes and schedule changes updated in timeline
Pending: Header showing date in proper locale, hiddenDates not working as expected (see TODO), docs, tests

[2017-10-23 06:20] ahus1 commented on #23
Fully booked and favorites count are loaded from the server every 90 minutes.
@sippsack (or anyone else) This is now ready for review.

[2017-10-24 23:39] ahus1 commented on #21
Working: Header showing date in proper locale, Rendering in Chrome, Firefox and Internet Explorer.
Pending: hiddenDates not working as expected (see TODO), docs, tests

[2017-10-27 05:12] ahus1 commented on #21
Working: hiddenDates working as expected, docs, tests.
@steffchep @sippsack - ready for review

[2017-10-27 14:44] ahus1 opened #24 "Provide search term via URL"
... and document as provided interface.

[2017-10-27 15:23] ahus1 commented on #24
@sippsack @steffchep - ready for review.

[2017-10-29 17:21] ahus1 opened #25 "Provider Adapters for old URLs"

[2017-10-29 20:05] ahus1 commented on #25
@sippsack @steffchep - old API implemented. Ready for review.

[2017-11-01 13:58] ahus1 commented on #24
@sippsack - after you added the feature I noticed the following from a UX perspective:
* back-navigation works differently: when you type a search string, and you use back navigation, you will un-type letter by letter. Therefor "replace" might be better than "push".
* if you go back to a previous tab (i.e. from speakers to talks) where you have entered a different search term, you'll get the previ

[2017-11-02 10:48] sippsack commented on #24
@ahus1: I've changed it as you suggested. Please review again.

Search box is kind of global widget, so switching tabs should remember last search term in my opinion. Actually the search box on speaker tab is new behaviour. In the old client we had only a search in the talks tab.

[2017-11-02 11:12] sippsack commented on #4
review finished, looks good for me

[2017-11-02 11:12] #4 closed, assigned to sippsack

[2017-11-02 12:03] sippsack commented on #23
commits
188d7168b7929e1c70aeedf6c5c4dd417cb30f61

review finished, looks good for me

[2017-11-02 12:03] #23 closed, assigned to sippsack

[2017-11-03 19:28] sippsack commented on #17
review done, looks good for me

[2017-11-03 19:28] #17 closed, assigned to sippsack

[2017-11-03 19:38] sippsack commented on #5
review done, looks good for me

[2017-11-03 19:38] #5 closed, assigned to sippsack

[2017-11-03 20:04] ahus1 commented on #20
Sample from JSON JavaLand 2017

https://latest.dukecon.org/pwa/javaland/2017/rest/conferences/javaland2017

[code]

[2017-11-03 21:32] ahus1 commented on #24
@sippsack - reviewed it, works! Thanks a lot!

[2017-11-03 21:33] #24 closed, assigned to nobody

[2017-11-03 21:57] sippsack commented on #5
review done, looks good for me

[2017-11-03 21:58] #19 closed, assigned to sippsack

[2017-11-03 22:07] sippsack commented on #25
review done, looks good for me

[2017-11-03 22:07] #25 closed, assigned to sippsack

[2017-11-03 22:33] sippsack commented on #13
review done, looks good for me

[2017-11-03 22:33] #13 closed, assigned to sippsack

[2017-11-03 22:42] sippsack commented on #18
review done, looks good for me.

@ahus1: but would it also possible to have a static <link rel="stylesheet" href="..."> with an v-if (if conference specific stylesheet exists) instead building a link manually?

[2017-11-04 17:21] ahus1 opened #26 "Put the version number into the deployed application"
This will make it easier to find out what version is currently deployed.

[2017-11-04 17:38] ahus1 commented on #26
The commit ID is now included in the build in a separate file. This allows us to identify the version that is currently deployed (both in test and in production).

Example: https://latest.dukecon.org/pwa/javaland/2018/COMMITHASH

Docs: https://github.com/dukecon/dukecon_pwa/blob/develop/doc/INTERFACES.adoc#interfaces-for-operations

@sippsack @ascheman @steffchep - ready for review.

[2017-11-04 17:57] ahus1 commented on #18
The link to the stylesheet should go into the head of the document, [see the docs](https://www.w3schools.com/tags/tag_link.asp)

Vue.js can only control the areas it has been mounted on (the _<div id="app"></div>_ in the index.html). I already did a trick to get Vis.js running, but I don't think this will work in the header.

On the other hand there seems to be evidence that this works in all brow

[2017-11-04 19:03] ahus1 opened #27 "Refactor Search functionality with Mixin"
The search field visible/hidden triggers are active in multiple components. Also subscribing to the changed search terms is used in two places.

This calls for a mixin - https://vuejs.org/v2/guide/mixins.html

[2017-11-04 19:08] ahus1 commented on #27
@sippsack - this is one refactoring to avoid duplicate code. It also uses CSS to switch on the search. As it is wrapped in a mixin that is related to the search, it is not leaking to anyone else's code. I therefore think it is ok to do this.

This also works around the issue that the search box disappears in development mode when using hot reload as the new replaced component didn't receive the vi

[2017-11-04 20:34] ahus1 commented on #27
... this is no longer using CSS to switch the search as this has a performance penalty... back to the event.

[2017-11-04 21:56] sippsack commented on #26
review done, looks good for me

[2017-11-04 21:56] #26 closed, assigned to sippsack

[2017-11-07 22:41] ahus1 opened #28 "Show hint to log in"

[2017-11-07 22:50] ahus1 commented on #28
working: basic functionality
missing: unit test for new component

[2017-11-09 20:52] ahus1 commented on #28
added: unit test.
@sippsack @steffchep - ready for review

[2017-11-17 10:48] #28 closed, assigned to nobody

[2017-11-24 14:17] steffchep commented on #15
Looks good to me!

[2017-11-24 14:24] #15 closed, assigned to nobody

[2017-12-02 11:51] ahus1 opened #29 "Restrict download to participants before and during conference"
Download before/during conference only for registered participants, after the conference access for all

#20 need to implemented before this feature.

[2017-12-02 11:58] ahus1 commented on #29
Clarification needed from business point of view:
* dukecon currently knows only about logged in / not logged in users, but not if the user participates in the particular conference (AFAIK)
* DOAG provides (public) links to the PDFs, currently we publish the PDFs directly to the frontend. Depending on business neeeds we must no longer publish them to the SPA, but must verify access in the backend

[2017-12-02 14:10] ahus1 commented on #20
There is now a first preview-version available. Once the user clicks the link, the document opens in a new tab.

This one still needs some love regarding CSS and maybe another layout idea.

https://latest.dukecon.org/pwa/javaland/2017/#/scheduledEvent/529221

![download_example](https://user-images.githubusercontent.com/3957921/33516424-d09a5322-d772-11e7-9bb8-1fdb22dc6cb9.png)

[2017-12-10 14:42] ascheman commented on #29
@pittorf Can you please check how we can restrict access to the desired participants until conference start? We currently could provide the links only to logged in users (not knowing if they are participants of the conference). Nevertheless we take the links from the public conference data so this is merely security by obscurity.

Additionally you need to prevent access to the documents from final

[2017-12-10 14:49] ascheman opened #30 "More than one conference logo"
Some conferences, e.g., joint conference of DOAG and Oracle likes to get two (or even more) logos in DukeCon which both lead to different sites, e.g., Home-Pages/Landing-Pages of the respective organization.

[2017-12-10 15:41] ascheman opened #31 "Create PWA Docker image"
Generate a Docker image from the PWA application to allow for easy deployment.

[2017-12-28 09:51] ascheman opened #32 "Update Package dependencies and add package-lock.json to build"
Latest NPM creates package-lock.json to allow to pin certain versions to a build (cf. https://dukecon.slack.com/archives/C1K58BTN1/p1514454111000144).
We should actively maintain this file and update packages to desired (and tested) versions.
For the time being the file will be ignored.

[2017-12-28 11:57] steffchep opened #33 "Speaker view is broken in IE"
(Problem was inherited from HTML5-Project - not a regression)

If there is a Bio and talks for the Speaker, the layout is broken in IE11 only. See screenshot (blurred for privacy).
Link to test: https://latest.dukecon.org/pwa/javaland/2018/#/speaker/2825
![speaker-ie11](https://user-images.githubusercontent.com/10571670/34410340-d0bb3e72-ebcf-11e7-8c82-7c79b471f965.png)

[2017-12-29 13:16] ascheman opened #34 "Add Firefox based e2e integration test"
Chrome is running into problems in Docker, enable Firefox in Selenium.

[2017-12-29 13:51] ascheman opened #35 "Update Babel"
Currently we get a warning during build

[code]

We should consider updating to `babel-preset-env`.

[2017-12-29 14:38] ascheman opened #36 "Directly build with Docker and Node"
Circumvent the Maven based build and build directly with Docker and Node.

[2017-12-30 14:15] #31 closed, assigned to ascheman

[2018-01-03 15:19] ascheman opened #37 "Fix Docker based Selenium test"
The Selenium test is currently not working in Docker, it complains that the Selenium server is not started. In fact probably the chromium driver seems not to start properly or not run chrome/chromium properly (cf. #34 and #36).

[2018-01-07 20:53] ahus1 commented on #27
closing due to timeout.

[2018-01-07 20:53] #27 closed, assigned to nobody

[2018-01-07 20:54] ahus1 commented on #18
closing due to timeout.

[2018-01-07 20:54] #18 closed, assigned to nobody

[2018-01-07 21:07] ahus1 commented on #35
This is needed for integration of Vis - we can only update this once Vis updates this as well.

[2018-01-07 21:07] #35 closed, assigned to nobody

[2018-01-07 21:08] ahus1 commented on #35
... I added section in DEVELOPER.adoc to explain this (see 4ba563da3cd5f6c562269e1fa22310a5bd294bf7)

[2018-01-10 20:17] ahus1 opened #39 "When searching for "sch" the SPA freezes"
Happens with: JavaLand 2018.

Cause: Vue is confused when the layout switches and the keyIds of dom elements are assigned twice (shoul dbe unique)

[2018-01-10 20:27] ahus1 commented on #39
@ascheman - the fix is available and working on latest.dukecon.org - please deploy to production using the next possible slot. Thanks!

[2018-01-10 21:20] ascheman commented on #39
Restarted on Javaland production.

[2018-01-10 21:20] #39 closed, assigned to ascheman

[2018-01-22 20:52] ascheman commented on #20
Please beautify the CSS a little more @steffchep

[2018-01-23 20:15] ascheman commented on #29
DOAG will publish documents and links on their own at certain date. It is not in the scope of DukeCon to control access or hide links before publication date.

[2018-01-23 20:15] #29 closed, assigned to pittorf

[2018-01-26 15:07] steffchep commented on #20
Done, see https://github.com/dukecon/dukecon_pwa/commit/d347909190406b2e17525e1ec377e1d39749ba34 (forgot to add ticket number there)

[2018-02-19 09:47] steffchep opened #40 "Feedback for talks"
- on talk page
- "traffic light" (good, mediocre, bad) and a free text field for comments
- API TBD
- must be logged in
- show after talk has started until about 3 days after

Put it behind a feature flag for now

Questions:
- should we restrict the size of the free text field? to 1024 or so? (A: yes, 1024 sounds good)
- should we show a message during feedback window to users that are not logged

[2018-02-19 10:44] steffchep commented on #40
Also see https://github.com/dukecon/dukecon/issues/43

[2018-03-03 11:25] ascheman opened #41 "separate search for talks and speakers"
If something is searched on the talks page and then the speakers page is clicked, the search is still active and probably filters out some or even all speakers. Please separate the two searches.

[2018-03-03 11:32] steffchep commented on #41
https://github.com/dukecon/dukecon_pwa/commit/2be8ae444d43d27c5e7e8eaadc6fb0998cde65a8 fixed

[2018-03-03 11:32] #41 closed, assigned to steffchep

[2018-03-09 16:51] #20 closed, assigned to steffchep

[2018-03-09 17:44] ahus1 commented on #32
@steffchep - there is now a npm-shrinkwrap.json that locks the version numbers of used packages. I avoid to use package-lock.json because it needs to contain the full URL of a package, and this might point to a local npm mirror.

@steffchep / @sippsack: please run _npm install_ after this change. Maybe even delete your _node_modules_ folder.

[2018-03-09 17:44] #32 closed, assigned to ahus1

[2018-03-09 17:45] ahus1 commented on #21
I assume the review of this ticket is complete... and we're now live anyway.

[2018-03-09 17:45] #21 closed, assigned to steffchep

[2018-03-09 19:02] ahus1 opened #42 "Keycloak tokens might persist even when they have expired"
We need a mechanism to clear tokens once we know for sure that they expired.

[2018-03-09 19:03] ahus1 commented on #42
There are two ways:
* after keycloak fails to initialize, we check that the network connection works. if it works, we discard the tokens.
* when we receive a 401 (access denied) when accessing the favorites, we discard the tokens we have.

[2018-03-09 19:04] #42 closed, assigned to nobody

[2018-03-12 09:42] ahus1 opened #43 "Timetable overview is one-hour-off"
When using MacOS Safari, iOS Safari, iOS Firefox, the timeline in the timetable view is off.

Other browsers seem to work.

[2018-03-12 09:43] ahus1 commented on #43
We now pre-parse the dates before handing them over to VIS visualisation library.

[2018-03-12 09:58] ahus1 commented on #43
Bug fixed - cc: @ascheman @steffchep @sippsack

[2018-03-12 09:58] #43 closed, assigned to nobody

[2018-03-12 12:58] janwesterkamp commented on #43
Succesfully tested in prod.

[2018-03-14 14:05] ascheman opened #44 "Start at current time frame when reopening the app"
When the page is re-opened after some time (or even when it is started the first time) during the conference, it should show the current (or next) time slot of the talks. Currently it always starts with Tuesday 8h30.

[2018-03-14 14:18] steffchep opened #45 "Remember the day when reopening the app"
Every time the web app is opened, it goes to the first day. Remember where I was when I closed it and start the app with the appropriate day open (this is a regression from the HTML5-project)

[2018-03-14 14:24] sippsack commented on #45
and scroll to the current time slot?

[2018-03-14 14:27] ascheman commented on #45
This seems to be a duplicate of #44 ;-)

[2018-03-14 14:33] steffchep commented on #45
@Falk - sceol to where I was last, yes :)

@Gerd Not quite - #44 implies automatic - this is about where the user was last time ;)

[2018-03-15 11:28] ahus1 commented on #45
IMHO: The current day should be encoded in the URL ... this way the browser will memorize it automatically, and you can even send it via a link / share it.

[2018-03-16 21:47] ahus1 commented on #45
@steffchep @sippsack - ready to review on https://latest.dukecon.org/javaland/2018/#/schedule/2018-03-14

[2018-03-16 22:18] ascheman opened #46 "Fix "zurück" button"
_From @michael-simons on March 15, 2018 10:29_

The "Zurück"-Button should work in a consistent way.

When the user has tapped on a talk like in

![img_8b79fee5c1c9-1](https://user-images.githubusercontent.com/526383/37458027-f088d45c-2843-11e8-9b10-bde6c39b8ff4.jpeg)

It navigates back into the talk list

![img_6ac66b5c2cbf-1](https://user-images.githubusercontent.com/526383/37458065-10550b20-284

[2018-03-16 22:19] ascheman opened #47 ""Aktiv" checkbox in favorites doesn't remember its state"
_From @michael-simons on March 15, 2018 10:22_

I'm on iOS.

Scenario:
* Create a set of filters
* Activate the set with the active checkbox
* Be happy about filtered list
* Untick active checkbox
* Be happy about unfiltered list
* Hit reload or open a new tab
* Active checkbox is ticked again

Expected:
* Active checkbox stays unticked.

_Copied from original issue: dukecon/dukecon#49_

[2018-03-16 22:19] ascheman opened #48 "Fix navigation out of the filter list"
_From @michael-simons on March 15, 2018 10:31_

The only way to close the filter list on iOS is the highlighted, small button:

![img_b5ee999a02a6-1](https://user-images.githubusercontent.com/526383/37458135-58b073dc-2844-11e8-91c6-7ff53c0e4f27.jpeg)

As a user I'd expect that I can hit somewhere outside the filter panel to close it on iOS.

_Copied from original issue: dukecon/dukecon#51_

[2018-03-16 22:19] ascheman opened #49 "Clarify usage of "Aktiv"-checkbox"
_From @michael-simons on March 15, 2018 10:14_

The highlighted checkbox in this image

![img_b5ee999a02a6-1](https://user-images.githubusercontent.com/526383/37457249-b4c3e2a6-2841-11e8-90d8-a083a6597049.jpeg)

is irritating. It looks like it is part of the available filter options (like all talks "active") but in fact toggles the configured filtered. As such it should be on the same level as the

[2018-03-16 22:21] ascheman opened #50 "Strange characters in talk details"
_From @annam002 on March 12, 2018 16:16_

In the talk 100% Code Coverage strange characters are shown instead of dashes. Using the Brave Browser on Android.

_Copied from original issue: dukecon/dukecon#46_

[2018-03-16 22:21] ascheman commented on #50
_From @annam002 on March 12, 2018 16:17_

![screenshot_20180312-171120](https://user-images.githubusercontent.com/3940199/37295747-3c96f87e-2619-11e8-9ce0-10de55c424f9.png)

[2018-03-16 22:21] ascheman opened #51 "Difficult to get back to main page after searching"
_From @annam002 on March 14, 2018 13:47_

When a search was executed, there is no way to go back to the main page, except for clearing the search box. This is especially confusing in the phone, because there is a back button and you expect that it would take you back to the main page, but it doesn't. Maybe add a clear button and/or make the back button take you back to the main page.

_Copied from

[2018-03-16 22:22] ascheman opened #52 "Show favorited Talks with an alternating fav-icon on the schedule"
_From @4223 on February 16, 2018 7:19_

_Copied from original issue: dukecon/dukecon#44_

[2018-03-16 22:22] ascheman commented on #52
Who are you, @4223? I prefer to communicate with individuals who publish a "real name" ...

[2018-03-16 22:22] ascheman commented on #52
_From @steffchep on February 16, 2018 11:15_

I don't understand the request... what is the purpose here?

[2018-03-16 22:24] ascheman opened #53 "Allow more word variants in search"
_From @dasniko on March 25, 2017 13:59_

Currently, the _"Code Golf"_ activities can only be found when the term `code-golf` is entered exactly like it is represented in the data (or fragments like `code` or `golf`).
It would be nice to find the activities also when entering `codegolf` or `code golf`.

This would be a benefit not only for the Code Golf activity, but also for all other talks/activi

[2018-03-16 22:24] ascheman opened #54 "Add a little Infobox or icon if favorited multiple talks in the same time slot"
_From @noctarius on March 17, 2017 7:49_

When favoriting talks from the timetable, the slots are obvious but when looking through topic areas I might have a chance to select multiple talks which happen in parallel. Maybe a small infobox would be nice or adding a little yellow exclamation mark to the header and show the info if the user hovers or clicks it :)

_Copied from original issue: dukecon/

[2018-03-16 22:26] ascheman opened #55 "Warn participants about long walking distances between selected talks"
_From @JOpsDev on June 23, 2016 16:51_

As the conferences grow we will have longer walking distances between the lecture rooms. There may even be 10-15 minute walks in very bad cases.
Since the pauses between talks is not much longer participants should be warned if they selected talks that need you to start walking towards the next lecture room right after the previous talk ended.

We need to ha

[2018-03-16 22:28] ascheman commented on #55
This issue is only about the visualization in the front end. PWA implementors: Please request additional information from the dukecon_server project about room distances by separate ticket.

[2018-03-16 22:29] ascheman opened #56 "Events longer than one hour should appear in every one hour slot"
_From @sippsack on January 29, 2016 11:14_

Community events or workshops (e.g. JavaInnovationLab) appear at 9 o'clock with a length of 480 minutes. When attendees look for an event in the afternoon, they won't recognize it.

Further possible solution: separate track for all events longer than one hour which spans the whole day instead of hourly seperation.

_Copied from original issue: dukecon/du

[2018-03-16 23:07] ascheman opened #57 "transfer favorites to phone"
_From @kirviq on March 13, 2017 15:3_

It would be nice if you could pick your favorites on a pc, export them to a QR code and import this on a phone. (or transfer in any other way)

_Copied from original issue: dukecon/dukecon_html5#100_

[2018-03-16 23:07] ascheman commented on #57
_From @steffchep on March 13, 2017 15:22_

Use case: I do not want to register with the DOAG, or my registration confirmation has not arrived yet.

[2018-03-17 06:49] luishdez87 commented on #51
i have same issue

[2018-03-18 19:05] ahus1 commented on #46
#45 delivers this: when you change the day and then press Back/Zurück this will take you to the previously selected day.

The change is already available on https://latest.dukecon.org/javaland/2018/#/schedule

[2018-03-18 19:05] #46 closed, assigned to nobody

[2018-03-18 22:10] sippsack commented on #46
should we also prevent leaving the app by checking history.back is still
our URL?

Alexander Schwartz <notifications@github.com> schrieb am So., 18. März
2018, 20:06:

[2018-03-18 22:20] ahus1 commented on #46
@sippsack - you could try. Maybe the button should not be visible at all in this case. But I don't if there is a JavaScript API for this.

On the other hand the user might entered the application by clicking on the program link on the conference page. The last "Zurück/Back" would lead him/her back to the conference page.

[2018-03-18 22:54] sippsack commented on #46
yes, there is no javascript api to query the browser history, so this won't
work.

On Sun, Mar 18, 2018 at 11:20 PM, Alexander Schwartz <
notifications@github.com> wrote:

[2018-03-19 19:36] ahus1 opened #58 "Don't show spinner for conference with no scheduled talks"
Given a conference where no talk have been scheduled yet, a message should appear instead of the infinite spinner.

[2018-03-19 19:37] ahus1 commented on #58
Initial commit by @sippsack 24aa653c2545b42873f2ac6b46554b8e0c2a2d67

[2018-03-19 19:39] ahus1 commented on #58
The timetable showed an empty grid. I changed that. I also renamed _loadingFinish_ to _loadingFinished_.

The German translation "Noch keine Vorträge ausgewählt!" sounded like the user needed to do something. Now it's "Talks für diese Konferenz stehen noch nicht fest."

Ready for another review.

[2018-03-19 23:26] sippsack commented on #58
@ahus1: thanks for the corrections, looks good for me..

I've added hiding filter box on the left hand side if events list is emtpy:
44bd22fa9715a374272f7117f07089726ba5d38b

Ready for another review.

[2018-03-20 10:39] sippsack opened #59 "Travis CI build is randomly failing"
✖ Testing if element <#talks-grid div.title a> contains text: "100 % Code Coverage - TDD mit Java EE".  - expected "100 % Code Coverage - TDD mit Java EE" but got: "Pipeline as code: Continuous Delivery with Jenkins 2"
    at Object.defaultE2eTests [as default e2e tests] (/home/travis/build/dukecon/dukecon_pwa/test/e2e/specs/test.js:14:15)

100 % Code Coverage - TDD mit Java EE is the first talk o

[2018-03-20 14:46] ahus1 commented on #59
There is a mechanism that when you are using a localhost (development) version it will switch to the static data when the remote service is not available. This makes it easy for development.

The static data is 2017, the data on latest.dukecon.org is 2018.

I suppose this triggers also on TravisCI if latest.dukecon.org is unavailable when travis runs.

So, that's the reason. How to fix it? I think

[2018-03-20 14:47] ahus1 commented on #58
review done. works for me.

[2018-03-20 14:47] #58 closed, assigned to sippsack

[2018-03-21 20:47] sippsack commented on #59
simple solution: use same conference data for fallback and usual data from latest server (e. g. from 2018)

more complex solution: @ascheman can we optimize restart behaviour of latest docker images so that always a latest images is running when the tests are running

[2018-03-21 21:02] sippsack commented on #44
it should go to last visited/remembered time slot (to current time slot as no remembered exist) and we need a link/button to go to the current time slot (where we live at the moment)

[2018-03-22 09:27] ahus1 opened #60 "Filter should hide options with only one entry"
The following conference has only one stream and one target audience: https://latest.dukecon.org/logistik/2018/#/schedule

If there is only one option, there should be no filter in the UI for this. Even if there was a previous filter for this, this filter should be cleared.

![filter_one_option](https://user-images.githubusercontent.com/3957921/37762048-9fcea2d0-2dbb-11e8-9253-3e1139a749ad.png)

[2018-03-22 11:53] chrisdutz opened #61 "If in a filter category only one item is available, hide the category"
When working on the ApacheCon import I noticed, that there are several categories that only have one item (Language, Audience). It would be cool if in this case the category could be hidden.

[2018-03-22 11:57] chrisdutz opened #62 "When opening the app with only english content, I had all labels empty because probably the default was german"
In case of the ApacheCon, English is the only language. When I started the site for the first time, it seems german was selected, which didn't exist. So all labels were simply blank. I had to switch to English first to see something.

Would be cool if the algorithm would be the following:
- No language Selected
  - Check if the browsers default language exists
    - If it exists, select that
    -

[2018-03-22 11:58] chrisdutz opened #63 "Make it possible to disable the language toggle"
Currently the application expects EN and DE to always exist, this is not the case, it would be good if (if for example its an only English conference) to disable the language toggle functionality.

[2018-03-22 16:37] ahus1 commented on #63
@chrisdutz - this is now ready for review. As the change has been done on the develop branch, you'll probably need to rebase your development branch.

[2018-03-22 16:40] ahus1 commented on #62
As part of #63 I've implemented: when all of the talks are in one language, the UI is also switched to that language and the language button is hidden. I think this works good enough to close this ticket as well.

[2018-03-25 19:32] ahus1 opened #64 "Login should be disabled in offline mode"
_From @steffchep on February 5, 2016 13:16_

clicking the login icon in offline mode leads to an error page

Some possibilities:
- in offline mode, clicking the icon will produce a popup: "You're offline, can't log you in"
- in offline mode, hide the icon (but in this case the text when first clicking a favorite makes no sense, so perhaps solution 1 is better)
- ...

_Copied from original issue: d

[2018-03-25 19:33] ahus1 opened #65 "Add location maps to talks"
_From @ascheman on March 29, 2016 19:36_

- Re-use the maps from dukecon/dukecon_flex?
- Check out [JUG Saxony Day 2015 App](https://play.google.com/store/apps/details?id=com.ionicframework.jsdconferenceapp153643&referrer=utm_source%3DAndroidPIT%26utm_medium%3DAndroidPIT%26utm_campaign%3DAndroidPIT) - also for other nice features, e.g.,
  - own schedule quick button: just press star in top navigat

[2018-03-25 19:33] ahus1 opened #66 "Create Print View"
_From @steffchep on July 5, 2016 17:11_

_Copied from original issue: dukecon/dukecon_html5#74_

[2018-04-19 18:25] ahus1 commented on #40
feature branch merged - Development continues in develop

[2018-04-19 20:36] ahus1 commented on #40
Available on "Latest". Pending TODOs:
- check maxlength for backend
- check time frame (after start and no more than x days after end)

[2018-04-21 18:35] sippsack opened #67 "Speaker infos overlays feedback modal dialogue"
![image](https://user-images.githubusercontent.com/413426/39087595-7b17f004-45a3-11e8-8033-f12f32f7d4a8.png)
reproduce: https://latest.dukecon.org/apex/2018/#/scheduledEvent/553514
log in
click on feedback

[2018-04-21 18:48] ahus1 commented on #67
@steffchep provided the code snipped, review on latest ok.

[2018-04-21 18:48] #67 closed, assigned to ahus1

[2018-04-21 18:49] ahus1 commented on #63
waiting for review for one month. closing due to timeout.

[2018-04-21 18:49] #63 closed, assigned to nobody

[2018-04-21 18:49] ahus1 commented on #45
waiting for review for one month. closing due to timeout.

[2018-04-21 18:49] #45 closed, assigned to nobody

[2018-04-26 18:19] ahus1 commented on #60
Duplicate #61

[2018-04-26 18:19] #60 closed, assigned to nobody

[2018-04-26 18:21] ahus1 commented on #61
This also hides the language flag for the talk display.

[2018-04-26 18:21] #61 closed, assigned to nobody

[2018-04-26 18:22] #62 closed, assigned to nobody

[2018-04-26 18:58] #33 closed, assigned to nobody

[2018-04-27 10:53] steffchep commented on #49
Suggestion: Change text to "Filters enabled" / "Filter aktiviert"

[2018-04-27 13:09] steffchep commented on #50
Sieht nach einem Datenproblem aus...

[2018-04-27 13:14] steffchep commented on #48
possible to do, but opening also happens on a small button, doesn't it? Not sure there is a good solution for the opening of the filters area.
Maybe we can look into swiping, that would be cool

[2018-04-27 13:16] #49 closed, assigned to nobody

[2018-04-27 17:29] chrisdutz opened #68 "Typo in "Favorite"/"Favourite""
It seems to be a typo in the text resources.
If a talk is not a favourite, it says: "Save as favorite" and as soon as that's done it says "Favourite saved" ... I think we should stick to "Favourite".

Unfortunately I haven't gotten through to UI coding ... and I don't know how I would get this online for ApacheCon. I don't just want to do a full text search and change every usage of "favorite" as

[2018-05-01 14:39] ahus1 commented on #68
Grammarist says (http://grammarist.com/spelling/favorite-favourite/): Favorite and favourite are different spellings of the same word. Favorite is the preferred spelling in the U.S., while favourite is preferred in all the other main varieties of English. These preferences extend to all derivatives, including favorites/favourites, favoritism/favouritism, and favorited/favourited.

[2018-05-01 14:41] ahus1 commented on #68
fixed in translation file.

[2018-05-01 14:41] #68 closed, assigned to nobody

[2018-05-02 07:44] chrisdutz opened #69 "Add an option to add custom buttons to the navigation menu"
Sometimes it might be desirable to be able to add custom buttons to the main menu.

In my case the Apache Foundation would have liked to add a "REGISTER" button to the menu which points users to the registration website for the conference.

[2018-05-16 22:00] ahus1 commented on #57
This would be a nice feature, but so far no-one created a pull request for this feature, and we think that (as a core team) we will don't develop this. We would be happy to re-open this ticket for a pull request.

[2018-05-16 22:00] #57 closed, assigned to nobody

[2018-05-16 22:01] ahus1 commented on #40
I will implement the maximum time after the talk that is allowed for a feedback.

[2018-05-19 18:32] sippsack opened #70 "Show conferences already without event time informations and location assignments"
Java Forum Stuttgart and Java Forum Nord decide timeslot and/or location assignments a few days after before the conference takes place. They first ask their attendees about there favourites and decide about the final schedule then.

DukeCon client should already show events without time and/or location assignments.

[2018-05-19 18:33] sippsack commented on #70
I will provide a simple conference json with a few events but without times and locations.

[2018-05-19 18:36] sippsack commented on #70
if all events have no time, the schedule view must be hidden/disappear.

If all events have no location assignments, the location filter could be hidden, too.

[2018-06-05 21:51] sippsack opened #71 "Switch handling server urls to static json data in /conference-data/"
The DukeCon Server will not deliver conference data (javalandxxx.json) anymore in a very near future. Instead, single Java processes will import conference data and write it to static files:

https://latest.dukecon.org/conference-data/javaland2016.json
https://latest.dukecon.org/conference-data/javaland2016/speakers/xxx.jpg

The DukeCon PWA client has to read these static files, using If-None-Matc

[2018-06-05 21:52] sippsack commented on #71
6d07f65ef47c981c5d8013ec28d3d0cf2b8bb27e

[2018-06-05 22:23] ahus1 commented on #71
When you change URLs, please add this to the docs (INTERFACES.adoc).

Also update the service worker configuration to make them available offline (webpack.prod.conf.js, approx. line 127)

[2018-06-07 08:04] sippsack commented on #71
@ahus1 thanks for the remind, will do that.

I still try to figure out the current etag support. Currently it looks like if-none-match also works automatically for conference json data when the service worker fetches data from network. I have to check, if etag support also works for static json files.

[2018-06-08 15:31] steffchep commented on #52
No new Input in several months, closing.

[2018-06-08 15:31] #52 closed, assigned to nobody

[2018-07-12 14:02] steffchep opened #72 "Research: Push Notifications"
- how can it be achieved when webapp is running? Not running? Separate service?
- User needs to agree (setting)
- only when logged in

[2018-07-20 12:22] steffchep commented on #72
Useful reading:
https://www.sitepoint.com/how-to-use-push-notifications-for-web-applications/
https://developers.google.com/web/fundamentals/codelabs/push-notifications/

[2018-07-21 08:09] ascheman commented on #72
Thanks for the reading stuff, @steffchep

[2018-08-02 04:46] ascheman opened #73 "Unknown user changes participant count in UI"
When a user is not logged in and clicks a _star_ to set or reset a favorite talk, the count of used seats is incremented/decremented and may be different from the value stored in the backend.
If the user is not logged in, his click actions should not update the (local) count.

[2018-08-02 09:20] steffchep commented on #73
if a lot of users are not logged in, this means that a lot of favorites, and therefore potential visitors, are not factored into the room planning. Are we sure this is what we want?

[2018-08-02 15:10] ascheman commented on #73
No, favorites are only stored centrally for logged in users. If you are not logged in, the talk preference is only stored locally but can never be synchronized (and counted) on the central server. So if people do not log in, we can never estimate the number of participants to a talk.

[2018-08-02 15:34] steffchep commented on #73
This means that our entire room planning is completely worthless unless we force people to log in.
I know around 10 People personally who would stop using the planner if we did that :/

[2018-08-06 13:58] sippsack opened #74 "Twitter link at DOAG 2018 conference is not working"
_From @sippsack on August 6, 2018 13:27_

twitter links on speakers page does work:

https://programm.doag.org/doag/2018/#/speakers

but twitter link on speaker details page shows sometimes wrong path (https://programm.doag.org/doag/2018/@oraculix instead of https://www.twitter.com/oraculix):

https://programm.doag.org/doag/2018/#/speaker/356587

other profiles work as expected e.g.:

https://prog

[2018-08-06 13:58] sippsack commented on #74
it seems that the input from the FORMES system causes this trouble. we have three different variants:

"LINKTWITTER":"oraculix"
"LINKTWITTER":"https://twitter.com/oraculix"

both seems to work, but a twitter name with leading '@' seems to make trouble:

"LINKTWITTER":"@oraculix"

we have to fix this, but as a workaround the affected users can just fix their data input for the moment.

[2018-08-06 13:58] sippsack commented on #74
so it seems to be a problem in the client only, we have to move this ticket dukecon_pwa

[2018-08-06 14:13] sippsack commented on #74
looks like there is a different behaviour in Speaker.vue (used in speaker detail view) and Twitter.vue (used in speakers list) in how to normalize input of twitter handles.

[2018-08-16 06:30] tkleiber opened #75 "Return Icon is missing"
![20180816_082932](https://user-images.githubusercontent.com/2185441/44192145-d6858c00-a11d-11e8-9d4f-aabd828bf88a.png)

[2018-08-16 06:33] tkleiber opened #76 "Return from Abstract returns ever to first conference day."
It should return to the page for the day, where I select the abstract.

[2018-08-16 07:53] sippsack commented on #75
it needs to be configured, work in progress

[2018-08-16 07:54] sippsack commented on #76
we will have a look for further releases

[2018-08-17 08:09] steffchep commented on #76
@tkleiber looking into this - workaround is to use the browser-back button instead, that will return you to the previously selected day

[2018-08-17 08:49] #74 closed, assigned to nobody

[2018-08-18 07:33] steffchep commented on #73
Please test this some more - I think it works as we want now, but not sure

[2018-09-05 20:05] steffchep commented on #73
Tested by @sippsack

[2018-09-05 20:05] #73 closed, assigned to nobody

[2018-09-05 20:06] steffchep commented on #76
Scroll issue seems to have been browser related (Brave) -  closing

[2018-09-05 20:06] #76 closed, assigned to steffchep

[2018-10-23 10:06] steffchep opened #79 "Missing http:// prefix in speaker website leads to broken (relative) link"
see screenshot

![dukecon-link](https://user-images.githubusercontent.com/10571670/47353232-0459f480-d6bc-11e8-887c-8e4e7dd29fb2.jpg)

[2018-11-07 20:07] #64 closed, assigned to nobody

[2018-11-09 13:15] #79 closed, assigned to steffchep

[2018-11-22 08:41] sippsack opened #80 "Provide feedback always visible for admins also when event is not yet started or already expired"

[2018-11-22 08:42] ascheman opened #81 "Error from talk feedback-submission not caught"
If a submission of talk feedback (cf. #40) fails, this is not shown to the user.
Pressing the submit-button in the feedback popup does not report the error if, e.g., a HTTP 5xx or 4xx is returned due to a backend problem.
This is probably a special case of #22?

[2018-11-22 08:43] ascheman commented on #80
??? Please provide a short explanation, @sippsack

[2018-11-22 22:42] sippsack commented on #80
At DOAG conference all were thinking that feedback function is already active but it wasn't. Feedback button is only visible if the talk has started. So it can't be checked if the functionality is activated at all. As admin it should always possible to give (test) feedback, also for events not yet started or already finished.

[2018-11-23 07:01] steffchep commented on #80
How exactly should that look? Where should the test feedback go? If it goes to a speaker via the regular feedback widget, how will it be filtered out?

Wouldn't it be better to add a status "Feedback enabled for this conference" in the admin app, and perhaps a "Test" button that sends a standardized request to some fixed user? That way it is easy to identify when the feedback is processed.

[2018-11-23 08:43] sippsack commented on #80
Test feedback goes to feedback server as normal ones. We just can write "testing" for the comment and choose a non relevant event (welcome keynote).
That would make it possible to test the real functionality before a conference starts especially if it still needs to be activated or when the routing in the edge service is not working.

[2018-11-23 12:07] steffchep commented on #80
I'm just worried that we don't have the control over what gets entered if we allow a regular feedback - hence my suggestion of a "Test" button that just sends this request regarding a configurable event ID, maybe?

[2019-01-18 13:33] #80 closed, assigned to steffchep

[2019-03-03 17:59] ascheman opened #83 "Error from setting favorite not caught"
We currently see Server errors (500) on latest and testing due to a DB error when setting a new talk preference (favorite). The server returns:

[code]

But this is not caught in the PWA frontend.

I will try to fix the problem on the backend ASAP. Nevertheless we should see a better error handling in the frontend as well.

[2019-03-19 13:01] sippsack opened #84 "Missing feedback at feedback call to backend"
If you give feedback you don't get a confirmation that it succeeded or failed.

[2019-03-19 13:03] sippsack commented on #84
e. g. there is no notification if status code unequal to 2xx, like 401 as keycloak client configuration was wrong at JavaLand 2019

![image](https://user-images.githubusercontent.com/413426/54607893-c89b3f00-4a4f-11e9-8936-2cdd175ba949.png)

[2019-03-20 17:49] sippsack opened #85 "Feedback button is not visible because misinterpreting timeSlotVisible attribute as seconds than minutes"
At JavaLand 2019 people complained again and again about a not visible Feedback button. We could not reproduce the problem yet. Maybe it is a timeout for the keycloak token and the login button still says the person is logged in.

[2019-03-20 17:50] sippsack commented on #85
e. g. "Hi,,

ich wollte noch ein paar Bewertungen vergeben, aber der Button erscheint nicht mehr. Ein paar habe ich heute Mittag noch bewertet, aber nun geht es nicht mehr.
Habt Ihr die Bewertungen wieder deaktiviert?"

[2019-03-20 21:28] ahus1 commented on #85
The JavaLand production configuration allows giving feedback for up to 2,8 hours (10080 seconds). After that time no feedback is possible. Please note: admins can always give feedback.

I cleaned up some code to use computed instead of methods to make it reactive to login status changes. Please test. Thanks!

[2019-03-21 09:08] sippsack commented on #85
you are right, a misunderstanding between server and client. I didn't recognize it because I'm an admin.

the server interprets it the following way:
timeSlotVisible: -1 # in minutes from start of the talk, -1 means at any time (testing only)

10080 minutes should have been 7 days

[2019-03-21 15:38] ahus1 commented on #85
I didn't look at the server. I changed it in the client. The client now also supports "-1" as "always on". Please test. Please review and test, deploy to production and maybe adjust any changed configurations in production (and then close this ticket)

[2019-03-21 21:27] albers opened #86 "Show audience level on talks view and details view"
One important piece of information when planning a JavaLand visit is the audience level: beginner, advanced, expert.
The only way to get this information is to apply the corresponding filters and watch the talks appearing and disappearing.

It would be very helpful to have this information on the talk's details page and the overview.

[2019-03-22 12:23] sippsack commented on #86
Thanks for your idea. We already have this information (audienceId in each talk). The levels are dynamic and at JavaLand it is Beginner, Expert, Advanced. We need nice icons and a kind of tooltip/help (tooltip makes sense on desktop only)

[2019-03-23 10:06] ckeimel commented on #40
3 days is not enough imho. Please leave this possibility for a week at least. From my point of view: The talk was on tuesday. I was on the konferenz until thursday and wanted to work through all the talks later (download slides, give feedback, flollow up on things). Friday was a full day at work, so I didn't get to it. I was planing to do it on monday.

[2019-03-26 12:17] sippsack commented on #40
@ckeimel: we have actually at least a week, so please try, it should work.

[2019-03-28 17:10] ascheman opened #87 "Show open/submitted feedback for talks"
As a conference participant I would like to see if I have already submitted feedback for a certain talk, in order to minimize opening talks for outstanding feedback submissions.

[2019-03-28 17:13] ascheman opened #88 "Add URL for feedback popup"
As a speaker or conference organizer I would like to send out URLs to event feedback popup windows in order to ask participants to directly enter feedback.

[2019-03-28 17:21] ascheman opened #89 "Login not possible/flaky"
Currently a login to DukeCon seems to be impossible (at least on latest/testing) or sometimes it is not completing to retrieve a new token.
Unfortunately this (mis-) behaviour seems to be unstable.

@srose has already investigated the problem?

[2019-03-28 17:25] ascheman commented on #89
Was this problem solved by 477136dd42f077768b5d35942e40145b1dbedf79, @ahus1?

[2019-03-28 17:29] ascheman opened #90 "Make feedback button visible (disabled) as long as feedback is possible"
As a conference participant I would like to see the feedback button as long as submitting feedback is possible in order to be reminded that feedback is outstanding.
If I am not logged in, the feedback button should be disabled and a mouse over should show the hint that it is required to log in.

[2019-03-28 19:55] ahus1 commented on #89
@ascheman - what does 'currently' mean? I made my commit some time ago. The change is available at least on latest. Latest ist working for me. What browser, what platform (mobile/desktop)?

[2019-03-30 17:17] ascheman commented on #89
As of today I do not seem to have any problems anymore.

[2019-03-30 17:17] #89 closed, assigned to nobody

[2019-04-05 12:53] ascheman opened #91 "Feedback for DukeCon + Conference Organizer"
As a participant I would like to see two feedback buttons:
* for feedback to DukeCon (the existing feedback button)
* for feedback/questions to the conference organizer (e.g., Javaland Office)

[2019-04-05 13:32] sippsack opened #92 "Back button not working if directly jumped into talk details"
maybe back button could direct to home if window.history is empty, if window.history state can be read

occurs on small resolutions, when only back button is visible and no home link can be clicked

[2019-04-05 14:59] sippsack opened #93 "Show missing presentation as "No presentation/slides uploaded yet""
would avoid questions of attendees who can't find presentations of specific talks

[2019-04-26 15:15] #84 closed, assigned to steffchep

[2019-04-30 12:24] steffchep opened #94 "implement "noAuthEnableIdParam""
if true: (and login disabled?)
generate unid, write to localstore
use alternate version of API to save favorites (see samples/ in dukecon_server project)

don't forget to update docs (doc/ folder)

[2019-05-09 16:50] #81 closed, assigned to steffchep

[2019-05-09 16:51] srose commented on #81
This works: there is some overlay showing the feedback works.

[2019-05-10 06:02] steffchep opened #95 "Hard to distinguish clickable Favorite from "Number of Favorites" Icon"
Some users have tried clicking on the "Number of Favorites" Icon instead of the "Save as Favorite" to the left of the event.

To make this easier to see, we could color the clickable Favorite Icon in the "Alternate" color (same as active day tab)

To do this, we need:
- a colorable SVG of the star
- modifications in the styles.ftl server side
- some css work
![favorite-confusion](https://user-imag

[2019-05-10 07:30] steffchep commented on #83
please verify:  an error message should appear now (toast-type message)

[2019-05-10 08:57] steffchep commented on #83
@srose @ascheman a toast message should appear on error now, can you check if this works and is sufficient?

[2019-05-10 09:40] #93 closed, assigned to nobody

[2019-05-13 07:19] #95 closed, assigned to steffchep

[2019-05-13 07:21] steffchep opened #96 "HTML manifest is missing"
With the port to Vue - apparently we forgot to add the HTML manifest. This means we aren't fully offline-capable anymore!

[2019-09-13 09:35] annam002 opened #97 "Dukecon is not accessible (a11y)"
I tested the accessibility of the dukecon app (after talking with Steffi). Here are the results:

# Setup
I checked https://latest.dukecon.org/javaland/2019/#/schedule
I tested the following things:
* Check conformity with WCAG guidelines. A lot of accessibility tools can do that automatically: Axe, Wave, Accessibility Insights, etc.
* Check keyboard navigation
* Check screen reader navigation (wi

[2020-01-15 20:48] #50 closed, assigned to nobody

[2020-01-15 20:49] #56 closed, assigned to steffchep

[2020-01-25 13:50] ascheman opened #98 "Distinguish "backend not reachable" and "conference unavailable""
WRT to dukecon/dukecon#59 I pick up the RfE of @mkarg: the frontend should show separate messages depending on the backend state:
* if the backend is unreachable, it should show something like "The conference data cannot be loaded",
* if the backend does not provide the respective conference data it should show something like "The conference is not (yet) available" (as of now).

[2020-02-16 14:15] steffchep commented on #97
Should now be navigable by keyboard,
Still To do: alt texts for screen readers

[2020-02-16 15:17] #97 closed, assigned to steffchep

[2020-02-20 12:16] JOpsDev opened #100 "Inform about using favorite used for capacity planning"
Please add something to the login notification that logging is not only for syncing favorites to the server but that we also need the favorites synced to the server so that we can do proper capacity planning.

[2020-04-30 07:02] steffchep opened #101 "Sort events by room order"
Schedule:
In each timeslot, the rooms should appear in the same order.
Talks need to be sorted by room "order" property per time slot

[2020-05-13 12:10] ascheman opened #102 "Publish PWA artifact (dist)"
As DukeCon PWA project I would like to publish build artifacts to enable other users to use the frontend part of the application directly without any build (-> @rdmueller).

[2020-05-20 19:02] rdmueller opened #103 "Feature List for the static PWA version"
the readme of this project already contains a small feature list.

Let's extend it to make it more marketing like so that people interested in dukecon knwo what it is capable of.

[2020-05-22 08:02] rdmueller opened #104 "add images as examples for features to docs"
#103 implemented a feature list. Now let's add some images as examples to visualize the features.

[2020-05-22 19:43] sippsack commented on #103
Wenn ich > gradle bakePreview aufrufe, kommt folgender Fehler:

FAILURE: Build failed with an exception.

* What went wrong:
A problem was found with the configuration of task ':bakePreview'.

[2020-05-25 19:35] #103 closed, assigned to nobody

[2020-06-05 12:51] steffchep commented on #101
Changes made, but travis CI failed... should I be worried?

[2020-06-14 08:01] ascheman commented on #34
This trial was (conceptually) merged into #37 (final state may be found in 5c178cbbb0a2d0f25b1f4e0a9e3fd05d8d846cbd, tag: feature/34-firefox-e24-test)

[2020-06-14 08:01] #34 closed, assigned to nobody

[2020-06-14 08:07] ascheman commented on #36
This trial was (conceptually) merged into #37 (final state may be found in dab25f46312433e46b9539e51a3d511eb6164f97, tag: feature/36-build-with-docker-and-node)

[2020-06-14 08:07] #36 closed, assigned to ascheman

[2020-06-14 08:10] ascheman commented on #59
I have switched off Travis builds (on https://travis-ci.org/github/dukecon/dukecon_pwa/settings) since we hardly ever use Travis regularly. Additionally we should go for Docker based builds, cf. #37.

[2020-06-14 08:10] #59 closed, assigned to sippsack

[2020-06-14 08:44] ascheman commented on #71
Please check if this issue/branch is still necessary @sippsack, since we try to keep usage of the current [interface](../blob/develop/doc/INTERFACES.adoc) of DukeCon-Server even with the static data generator (cf. dukecon/dukecon_server#102).

[2020-09-03 17:25] #101 closed, assigned to steffchep

[2020-09-03 17:28] steffchep opened #108 "New Filter Category for remote conferences (eventType?)"
(Also needs backend work)

We need a Name for this Filter Category

Possible Values:
Remote only
On site only
Remote and on-site (i.e. with live streaming)
...

[2020-10-15 13:52] steffchep commented on #108
There already is an eventType section in the MetaData, but this is currently unused by the pwa - we should implement it there